input,
select,
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.label,
.checkbox-label,
.radio-label {
  display: block;
  margin-bottom: 0.25em;
}

.input,
.checkbox-label:before,
.radio-label:before,
.checkbox-label:after,
.radio-label:after,
.select,
.textarea {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #d1d1d1;
  border-radius: 4px;
  background-color: white;
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.input:focus,
.checkbox-label:focus:before,
.radio-label:focus:before,
.checkbox-label:focus:after,
.radio-label:focus:after,
.select:focus,
.textarea:focus {
  border-color: #33c3f0;
  border-width: 1px;
}
.input::-webkit-input-placeholder,
.select::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: gray;
}
.input:-ms-input-placeholder,
.select:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: gray;
}
.input::-ms-input-placeholder,
.select::-ms-input-placeholder,
.textarea::-ms-input-placeholder {
  color: gray;
}
.input::placeholder,
.select::placeholder,
.textarea::placeholder {
  color: gray;
}

.select {
  position: relative;
  z-index: 1;
  padding-right: 40px;
}
.select::-ms-expand {
  display: none;
}

.select-wrap {
  position: relative;
}
.select-wrap:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding: 0 15px;
  width: 10px;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2213%22%20height%3D%2211.3%22%20viewBox%3D%220%200%2013%2011.3%22%20enable-background%3D%22new%200%200%2013%2011.3%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23424242%22%20points%3D%226.5%2011.3%203.3%205.6%200%200%206.5%200%2013%200%209.8%205.6%20%22%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
  content: "";
  pointer-events: none;
}

.textarea {
  min-height: 100px;
  resize: vertical;
}

body {
  padding: 0 20px 20px 20px;
  font-family: sans-serif;
  color : #111111 !important;
}

h1 {
  margin-bottom: 1em;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

form {
  max-width: 500px;
}

.input,
.checkbox-label:before,
.radio-label:before,
.checkbox-label:after,
.radio-label:after,
.select,
.textarea,
.checkbox-label,
.radio-label {
  margin-bottom: 1em;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  /* display: inline-block; */
  width: 60px;
  height: 34px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.lh26 {
  line-height: 26px;
  padding-bottom: 3%;
}
button {
  color: #fff;
  background-color: #3598dc;
  outline: 0 !important;
  border: 1px solid transparent;
  border-color: #3598dc;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  padding: 10px 50px;
  font-size: 14px;
  width: 100%;
  border-radius: 4px;
}
button:active {
  background-color: #217ebd;
  border-color: #1f78b5;
}
.centered {
  text-align: center;
}

fieldset {
  padding: 4%;
  border: 1px solid rgb(255, 160, 122);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  margin-bottom: 5%;
}
