input,
select,
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.label,
.checkbox-label,
.radio-label {
  display: block;
  margin-bottom: 0.25em;
}

.input,
.checkbox-label:before,
.radio-label:before,
.checkbox-label:after,
.radio-label:after,
.select,
.textarea {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  background-color: white;
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.input:focus,
.checkbox-label:focus:before,
.radio-label:focus:before,
.checkbox-label:focus:after,
.radio-label:focus:after,
.select:focus,
.textarea:focus {
  border-color: #c2cad8;
  border-width: 2px;
}
.input::-webkit-input-placeholder,
.select::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: gray;
}
.input:-ms-input-placeholder,
.select:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: gray;
}
.input::-ms-input-placeholder,
.select::-ms-input-placeholder,
.textarea::-ms-input-placeholder {
  color: gray;
}
.input::placeholder,
.select::placeholder,
.textarea::placeholder {
  color: gray;
}

.select {
  position: relative;
  z-index: 1;
  padding-right: 40px;
}
.select::-ms-expand {
  display: none;
}

.select-wrap {
  position: relative;
}
.select-wrap:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding: 0 15px;
  width: 10px;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2213%22%20height%3D%2211.3%22%20viewBox%3D%220%200%2013%2011.3%22%20enable-background%3D%22new%200%200%2013%2011.3%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23424242%22%20points%3D%226.5%2011.3%203.3%205.6%200%200%206.5%200%2013%200%209.8%205.6%20%22%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
  content: "";
  pointer-events: none;
}

.textarea {
  min-height: 100px;
  resize: vertical;
}

body {
  padding: 0 20px 20px 20px;
}

h1 {
  margin-bottom: 1em;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

form {
  max-width: 500px;
}

.input,
.checkbox-label:before,
.radio-label:before,
.checkbox-label:after,
.radio-label:after,
.select,
.textarea,
.checkbox-label,
.radio-label {
  margin-bottom: 1em;
}
